/* Reset */
* {
    padding: 0 !important;
    margin: 0 !important;
}

/* Global Styles */
body {
    max-width: 1519px !important;
    box-sizing: border-box !important;
    scrollbar-width: none;
}

.container {
    width: 1519px !important;
}

#loading {
    font-size: 18px !important;
    color: #555 !important;
}


.row {
    margin: auto;
}

/* Dashboard Content */
.main-content-dash {
    max-width: 1519px !important;
    margin-top: 56px !important;
    transition: margin-left 0.4s ease;
}

.main-halo {
    max-width: 1519px !important;
    margin-left: 30% !important;
}

.main-halo img {
    width: 60vw !important;
    border-radius: 12px;
}

/* Kategori Section */
.kategori-sec {
    max-width: 1519px !important;
    margin-left: 17% !important;
    display: flex !important;
    overflow-x: scroll;
    scrollbar-width: none !important;
}

.kategori-sec button {
    border: 1px solid #ec9648;
    padding: 5px !important;
    border-radius: 8px;
    background-color: white;
    color: green;
}

/* Menu Section */
.Menu {
    margin-top: 100px !important;
    max-width: 1219px !important;
    margin-left: 10% !important;
    text-align: center !important;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box !important;
    margin: auto !important;
}

.card-menu {
    width: 250px !important;
    height: 400px;
    border: 1px solid grey;
    text-align: center;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    border-radius: 8px;
    margin-top: 100px !important;
    background: linear-gradient(145deg, #ececec, #ffffff);
}

.Menu img {
    width: 70% !important;
    transform: translateX(2px);
    margin-top: -20% !important;
}

/* Card Details */
.card-title {
    display: flex;
    justify-content: center;
    padding: 10px !important;
    height: 50px;
}

.kalori {
    padding: 20px !important;
    height: 20px;
}

.jenis {
    padding-top: 20px !important;
    height: 100px;
    display: flex;
}

.love {
    height: 100px;
    display: flex;
}

/* Sidebar */
.Hilang {
    margin-left: -6% !important;
    width: 123% !important;
    transition: ease 0.001s;
}

.side-list {
    display: flex;
    flex-direction: column;
    color: black;
}

.side-list a {
    text-decoration: none !important;
    list-style-type: none !important;
}

/* Responsive Styles */
@media screen and (max-width: 763px) {
    .main-content-dash {
        margin-left: 1.2% !important;
        width: 122% !important;
    }

    .Menu {
        flex-direction: row;
    }

    .card-menu {
        width: 150px !important;
        height: 200px;
        margin-top: 50px !important;
    }

    .Menu img {
        width: 70% !important;
    }

    .card-title {
        height: 50px;
        margin-top: -30px !important;
    }

    .card-title h5 {
        font-size: 14px !important;
    }

    .kalori {
        padding: 10px !important;
        height: 2px;
    }

    .jenis, .love {
        display: none !important;
    }

    .main-halo img {
        width: 100vw !important;
        height: 20vh;
        border-radius: 0;
        margin-left: -44% !important;
        margin-top: -55px !important;
    }

    .kategori-sec {
        margin-left: -5% !important;
    }
}
