@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body,
html {
    margin: 0px !important;
    padding: 0px !important;
    font-family: "Poppins", sans-serif !important;
    text-rendering: optimizeLegibility !important;
    background: #f3f3f5;
    background-size: cover !important;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: calc(var(--bs-gutter-x) * -5) !important;
    padding-left: calc(var(--bs-gutter-x) * -5) !important;
}

.no-border {
    border: none !important;
}

.btn-header,
.bg-kuning {
    background-color: #ec9648;
}



.content {
    margin-top: 8%;
}

.pt-10 {
    padding-top: 100px;
}
.mt-10 {
    margin-top: 70px;
}

.icons-footer img {
    width: 7.5%;
}



.main-content {
    width: 100% !important;
    margin-top: 100px !important;
}
.part_about {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 950px;
    width: 100% !important;
    background-image: url("/img/abut_img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.part_about img {
    margin-left: 10%;
    width: 80%;
}
.part {
    width: 100% !important;
    min-height: 600px;
    background-color: #bfbfbf;
}
.part h1,
.part p {
    text-align: center;
}
.part h1 {
    height: 100px !important;
}

.part img {
    border-radius: 12px !important;
}

.about:hover {
    rotate: -15deg;
    transition: rotate 1s;
    border-radius: 12px;
}

.main-bg img {
    margin-top: 100px !important;
    border: none;
}

img {
    border: none;
}

.main-text h1 {
    margin-top: 150px;
}

.ungah {
    height: 1000px;
    background-image: url(/public/img/pizza-bg.png);
}
.contributors {
    background-image: url(https://t4.ftcdn.net/jpg/05/19/75/15/360_F_519751549_tOSxZkzUvQ5D7Swdl9g2xDW6p6nUk7fh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1700px;
}
.main-img img{
    width: 13vw !important;
    transform: translateX(-80px);
}

.Menu{
    margin-top: 100px !important;
    max-width: 1219px !important;
    margin-left: 10% !important;
    /* border: 1px solid grey; */
    text-align: center !important;
    display: flex;
    box-sizing: border-box !important;
    flex-wrap: wrap;
    margin: auto !important;


}

.card-menu {
    width: 250px !important;
    height: 400px;
    border: 1px solid grey;
    text-align: center;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    gap: 20px !important;
    border-radius: 8px;
    margin-top: 100px !important;
    background: linear-gradient(145deg, #ececec, #ffffff);

}

.Menu img {
    width: 70% !important;
    position: static;
    transform: translateX( 2px);
    margin-top: -20% !important;
}
.card-title {
    display: flex;
    justify-content: center; 
    padding: 10px !important;
    height: 50px;
}
.kalori{
    padding: 20px !important;
    height: 20px;
}
.jenis {
    padding-top: 20px !important;
    height: 100px;
    display: flex;
}
.love {
    height: 100px;
    display: flex;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-bg img {
    animation: rotate 10s linear infinite;
}

.main-navbar {
    transition: background-color 0.3s ease-in-out;
}


.main-navbar.scrolled {
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    color: black;
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-card {
    opacity: 0;
    animation: slideInFromBottom 1s ease-out forwards;
}

/* hp */
@keyframes rotate3DIn {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

.rotate-3d-animation {
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out;
}

.animate-3d {
    opacity: 1;
    animation: rotate3DIn 2s ease-out forwards;
}

.ungah {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ungah img {
    width: 300px;
}
.rotate-3d-animation {
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.animate-3d {
    opacity: 1;
    animation: rotate3DIn 2s ease-out forwards;
}

@keyframes rotate3DIn {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .none {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .hilang {
        display: none !important;
    }

    .contributors {
        display: flex !important;
        box-sizing: border-box;
    }
    .card-body h2 {
        font-size: 16px;
        height: 50px !important;
        gap: 0;
    }
    .ungah {
        height: auto !important;
    }
    .ungah p {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .ungah img {
        width: 200px;
    }

    .navbar {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .main-bg img {
        width: 70%;
        margin-left: 50px;
        margin-top: 0 !important;
    }

    .main-text h1 {
        margin-top: 250px !important;
    }
    footer .flex-column {
        display: flex !important;
        flex-direction: row !important;
    }
}
